/* Reset e estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 150vh;
  background: linear-gradient(135deg, #1e1e2f, #6e1b96);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Título */
h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

/* Container geral */
form, #status, #response, #operation, #accountId, #toAccountId, #value, button {
    max-width: 400px;
    width: 100%;
}

#status {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilização dos inputs */
input, select {
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 25px;
  outline: none;
}

input::placeholder, select {
  color: #ccc;
}

/* Botão */
button#send {
  padding: 12px;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button#send:hover {
  opacity: 0.9;
}

/* Caixa de resposta */
#response {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  white-space: pre-wrap;
  color: #00ffcc;
  
}

/* Labels */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
